.clockinContainer {
    background-color: #F3F3F3;
    padding: 20px;
    max-width: 100%;
  }
  
  /* Adjust component widths */
  @media (max-width: 426px) {
    .clockinContainer {
      display: flex;
      flex-direction: column;
    }
  }